<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ejercicio 2 DAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='iconos/realmadrid.ico') }}">
  </head>
  <body>
    <div class="Ejemplo1" align="center">
      <h1>Bienvenido a la práctica 2 de DAI</h1>
      <h3> Ejemplo hola mundo </h3>
      <br>
     <img align=center src="{{ url_for('static', filename='images/isco.png') }}" >
    </div>
  </body>
</html>