{% extends "index.html" %}

{% block Content %}
<div class="card-panel grey darken-1 col s12 m8 l9 " style="height: 590px"> 

 <div class="row">

  <div class="col s3 m1 l1">
   </div>


  <img class="col s5 m4 l3" width="450" src="{{ url_for('static', filename='images/user.png') }}">

  <form class="col s12 m7 l8" action="" method="post">
    <div class="row">
      <div class="input-field col s6 m6 l6">
        <input id="first_name" name = "first_name" type="text" class="validate white-text">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6 m6 l6">
        <input id="last_name" name = "last_name" type="text" class="validate white-text">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m6 l6">
        <input id="username" name = "username" type="text" class="validate white-text">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s6 m6 l6">
        <input id="password" name = "password" type="password" class="validate white-text">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m6 l6">
        <input id="email" name = "email" type="email" class="validate white-text">
        <label for="email" data-error="wrong" data-success="right">Email</label>
      </div>
      <div class="input-field col s6 m6 l6">
        <input id="telephone" name = "telephone" type="tel" class="validate white-text">
        <label for="telephone">Telephone</label>
      </div>
    </div>
    <div class="input-field inline">
      <button class="btn waves-effect waves-light light-blue accent-4 " type="submit" >Sign up
        <i class="material-icons right">send</i>
      </button>
    </div>


  </form>
</div>

</div>


{% endblock %}

{% block footer %}

<footer class="page-footer grey darken-3" style="margin-top: -5px; ">

  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Desarrollo de Aplicaciones para Internet</h5>
    </div>
  </div>
  <div class="row">
    <div class="col l6 s12">
      <h6 align="left"> © 2017 Copyright Juan Ramón Gómez Berzosa </h6>
    </div>
    <div class="col l6 s12">
      <h6 style="float:right;" > <a class="grey-text text-lighten-4" href="https://github.com/jramongomez"> <img align= "top" style="width: 20px; height: 20px;" src="{{ url_for('static', filename='images/github.png') }}" > GitHub </a> </h6>
      <h6  style="float:right; margin-right: 10px;"> <a class="grey-text text-lighten-4" href="https://www.facebook.com/juanramon.gomezberzosa"> <img align= "top" style="width: 20px; height: 20px;" src="{{ url_for('static', filename='images/facebook.png') }}" > Facebook </a> </h6>

    </div>
  </div>
</footer>

{% endblock %}

